* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(0, 0, 27);
    text-align: right;
    padding: 20px;
}
header nav a { 
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.dark-smoke {
    height: 825px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/color-smoke-abstract-wallpaper-aesthetic-background-design.jpg");
    background-size: cover;
    background-position: center;
}

#home {
    color: white;
    position: absolute;
    top: 350px;
    text-align: center;
    display: block;
    margin-left: 25%;
    margin-right: 25%;
}

#home p {
    color: rgb(184, 156, 216);
    font-size: 90%;
    padding: 10px;
}

#home h1 {
    font-size: 300%;
    font-weight: lighter;
}

#home button {
    padding: 5px;
    margin-top: 20px;
    background-color: transparent;
    border-color: rgb(184, 156, 216);
    border-radius: 10px;
    width: 100px;
}

#home button a {
    text-decoration: none;
    color: rgb(184, 156, 216);
}

#home button:hover {
    cursor: pointer;
    box-shadow: rgb(184, 156, 216) 0 0 15px 1px;
    transition: .15s;
}



@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, #skills, #portfolio {
      flex-direction: column;
      column-count: 2;
    }
  }

  @media screen and (max-width: 480px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, #skills, #portfolio {
      flex-direction: column;
      column-count: 1;
    }
  }