* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* mav list */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
}
header {
    background-color: rgb(0, 0, 27);
    padding: 1rem;
}
header nav a { 
    color: white;
    text-decoration: none;
}


/* home background image */
.dark-smoke {
    height: 830px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/color-smoke-abstract-wallpaper-aesthetic-background-design.jpg");
    background-size: cover;
    background-position: center;
}
/* home content */
#home {
    position: absolute;
    top: 315px;
    left: 25%;
    right: 25%;
    justify-content: center;
    text-align: center;
}
#home p {
    color: rgb(202, 178, 230);
    font-size: 90%;
    padding: 10px;
}
#home h1 {
    color: white;
    font-size: 300%;
    font-weight: lighter;
}
#home button {
    padding: 5px;
    margin-top: 20px;
    background-color: transparent;
    border-color: rgb(184, 156, 216);
    border-radius: 10px;
    width: 100px;
}
#home button a {
    text-decoration: none;
    color: rgb(184, 156, 216);
}
#home button:hover {
    cursor: pointer;
    box-shadow: rgb(184, 156, 216) 0 0 15px 1px;
    transition: .15s;
}
#home button:active {
    cursor: pointer;
    box-shadow: rgb(184, 156, 216) 0 0 15px 1px;
    transition: .15s;
}


/* about me */
.portrait {
    max-width: 15%;
    position: relative;
    margin-top: 3%;
    margin-left: 10%;
}
#about-me {
    display: block;
    position: relative;
    max-width: 50%;
    margin-left: 30%;
    margin-top: 3px;
}




@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, #skills, #portfolio {
      flex-direction: column;
      column-count: 2;
    }
  }

  @media screen and (max-width: 480px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav, #skills, #portfolio {
      flex-direction: column;
      column-count: 1;
    }
  }