* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.main {
    max-width: 100%;
    margin: auto;
}

/* mav list */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: right;
    font-size: 25px;
    font-weight: bold;
}

header {
    background-color: rgb(0, 0, 27);
    padding: 1rem;
}

header nav a {
    color: white;
    text-decoration: none;
}


/* banner background image */
.dark-smoke {
    height: 900px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/color-smoke-abstract-wallpaper-aesthetic-background-design.jpg");
    background-size: cover;
    background-position: center;
}

/* banner stuff */
#home {
    position: absolute;
    top: 400px;
    left: 25%;
    right: 25%;
    justify-content: center;
    text-align: center;
}

#home p {
    color: rgb(202, 178, 230);
    font-size: 90%;
    padding: 10px;
}

#home h1 {
    color: white;
    font-size: 300%;
    font-weight: lighter;
}

#home button {
    padding: 5px;
    margin-top: 20px;
    background-color: transparent;
    border-color: rgb(184, 156, 216);
    border-radius: 10px;
    width: 100px;
}

#home button a {
    text-decoration: none;
    color: rgb(184, 156, 216);
}

#home button:hover {
    cursor: pointer;
    box-shadow: rgb(184, 156, 216) 0 0 15px 1px;
    transition: .15s;
}

#home button:active {
    cursor: pointer;
    box-shadow: rgb(184, 156, 216) 0 0 15px 1px;
    transition: .15s;
}


/* about me stuff */
.portrait {
    max-width: 15%;
    position: relative;
    margin-top: 3%;
    margin-left: 10%;
}

#about-me div {
    position: relative;
    max-width: 50%;
    margin: -16% 0 0 30%;
    color: rgb(54, 0, 99);
}

#about-me ul {
    position: relative;
    max-width: 75%;
    margin: 2% 0 0 30%;
    color: rgb(54, 0, 99);
}

/* education */
#education {
    position: relative;
    max-width: 30%;
    margin: 6% 0 0 10%;
    color: rgb(54, 0, 99);
}

/* experience */
#experience {
    position: relative;
    max-width: 30%;
    margin: -25% 0 0 50%;
    color: rgb(54, 0, 99);
}

/* skills stuff */
#skills {
    background-color: rgb(0, 0, 27);
    color: rgb(184, 156, 216);
}

#skills h3 {
    font-size: 150%;
    padding-top: 5%;
}

#skills-header {
    text-align: center;
    max-width: 50%;
    margin: 5% 0 0 25%;
    padding: 2% 0 5% 0;
    font-size: 100%;
}

#skills h4 {
    text-decoration: underline;
    font-size: 150%;
    font-weight: lighter;
}

#web-dev {
    position: relative;
    margin: -3% 0 10% 20%;
    width: 100%;
}

#graphic {
    position: relative;
    margin: -30.9% 0 0 60%;
    padding-bottom: 6%;
    width: 100%;
}

.container {
    width: 25%;
}

.skills-html,
.skills-css,
.skills-js,
.skills-kotlin,
.skills-illustrator,
.skills-photoshop,
.skills-indesign,
.skills-photography {
    text-align: right;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(54, 0, 99);
}

.skills-html {
    width: 90%;
    background-color: rgb(184, 156, 216);
}

.skills-css {
    width: 85%;
    background-color: rgb(184, 156, 216);
}

.skills-js {
    width: 25%;
    background-color: rgb(184, 156, 216);
}

.skills-kotlin {
    width: 10%;
    background-color: rgb(184, 156, 216);
}

.skills-illustrator {
    width: 100%;
    background-color: rgb(184, 156, 216);
}

.skills-photoshop {
    width: 100%;
    background-color: rgb(184, 156, 216);
}

.skills-indesign {
    width: 80%;
    background-color: rgb(184, 156, 216);
}

.skills-photography {
    width: 85%;
    background-color: rgb(184, 156, 216);
}

/* portfolio stuff */
#portfolio {
    padding: 20px;
}

#portfolio h2 {
    text-align: center;
    font-size: 300%;
    font-weight: lighter;
    color: rgb(54, 0, 99);
    margin: 0;
    padding: 20px;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 20px;
    margin: 2% 0 5% 25%;
    width: 50%;
    box-shadow: 0 0 20px grey;
}

/* contact me */
#contact,
#contact a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 27);
    color: rgb(184, 156, 216);
}
#contact-text {
    max-width: 50%;
    margin: 2% 2% 2% 30%;
}

/* credits */
#credits, #credits a {
    font-size: 75%;
    text-align: center;
    color: rgb(54, 0, 99);
}




@media screen and (max-width: 768px) {

    /* Use flex-direction to stack the navbar, sidebar, and body */
    .nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: right;
        font-size: 25px;
        font-weight: bold;
    }
    #home {
        position: absolute;
        top: 325px;
        left: 25%;
        right: 25%;
        justify-content: center;
        text-align: center;
    }
    .portrait {
        padding-top: 4%;
    }
    #about-me div {
        position: relative;
        max-width: 60%;
        margin: -16% 0 0 30%;
        color: rgb(54, 0, 99);
    }
    #about-me ul {
        position: relative;
        max-width: 60%;
        margin: 5% 0 0 30%;
        color: rgb(54, 0, 99);
    }
    #education {
        position: relative;
        max-width: 35%;
        margin: 8% 0 0 10%;
        color: rgb(54, 0, 99);
    }
    #experience {
        position: relative;
        max-width: 35%;
        margin: -90% 0 0 60%;
        padding-bottom: 10%;
    }
    .container {
        width: 50%;
    }
    #web-dev {
        position: relative;
        margin: -3% 0 10% 25%;
        width: 100%;
    }
    #graphic {
        position: relative;
        margin: 0 0 0 25%;
        padding-bottom: 10%;
        width: 100%;
    }
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: right;
        font-size: 18px;
        font-weight: bold;
    }
    .dark-smoke {
        height: 820px;
        width: 100%;
        margin-bottom: 25px;
        background-image: url("./assets/images/color-smoke-abstract-wallpaper-aesthetic-background-design.jpg");
        background-size: cover;
        background-position: center;
    }
    #home {
        position: absolute;
        top: 300px;
        left: 20%;
        right: 20%;
        justify-content: center;
        text-align: center;
    }
    #education {
        position: relative;
        max-width: 60%;
        margin: 10% 0 0 25%;
        color: rgb(54, 0, 99);
    }
    #experience {
        position: relative;
        max-width: 60%;
        margin: 15% 0 0 25%;
        padding-bottom: 10%;
    }
    .column {
        width: 100%;
    }
}